* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  color: white;
  font-family: sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cdk-drag-preview {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5) !important;
  cursor: grabbing;
  overflow: hidden !important;
}

.cdk-drag-preview * {
  overflow: hidden !important;
}
